################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyDotNetCoreServerlessWebApp/.vs/MyDotNetCoreServerlessWebApp
/MyDotNetCoreServerlessWebApp/obj
