################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyDotNetCoreServerlessWebApp/.vs/MyDotNetCoreServerlessWebApp
/MyDotNetCoreServerlessWebApp/obj
/MyDotNetCoreServerlessWebApp/bin
/MyDotNetCoreServerlessWebApp/aws-ecs-tools-defaults.json
